.dmg-read-more {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

.dmg-read-more a {
    color: #005e8a !important;
    text-decoration: none !important;
}

.dmg-read-more a:hover {
    text-decoration: underline !important;
    color: #0187bc !important;
}
